# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
test-results
playwright-report
blob-report

# Production
dist
build

# Misc
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
vite.config.d.ts
vite.config.d.ts.map
vite.config.js

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite
.vite
